.comment_card{
    border: 2px solid #ccc;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}
.comment_card h3{
    text-transform: capitalize;
    color: darkblue;
}
.comment_card_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
    cursor: pointer;
}
.comment_card span{
    margin-right: 10px;
}
.comment_card p{
    color: #444;
    line-height: 1.5;
    margin: 10px 0;
}
.comment_card .nav_comment{
    display: flex;
    flex-wrap: wrap;
}
.comment_card .nav_comment p{
    color: darkblue;
    padding-right: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.comment_card .nav_comment p:hover{
    text-decoration: underline;
}
/* ----------- reply comment ------------- */
.reply_comment{
    margin-left: 20px;
}